/* Title font */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');

/* Options font */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');


/* --------------------Background colour, Fonts, padding & margins ------------------ */
* {
    border-radius: 10px;
}

input {
    -webkit-appearance: none;
    visibility: visible;
}

html {
    position: absolute;
    min-height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background: #98B7D7;
}

h1 {
    padding: 10px;
    font-weight: 700;
}
h1, h2, h3, .contenttext {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* --------------------Header, How To Play Instructions------------------ */


.collapsible {
    transition: max-height 1s ease-in-out;
  overflow: hidden;
  max-height: 1000px;
}

.collapsed {
    max-height: 0;
  } 
/* --------------------Game Container ------------------ */

.game-canvas {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 15px;
    margin: 50px;
    justify-content: center;
    /* Setting perspective of game */
    perspective: 500px;
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    grid-column: 1 / -1;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    font-size: 0;
}

.overlay-text-small {
    font-size: .4em;
    font-weight: 700;

}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        font-size: 0;
    }
    to {
        font-size: 3em;
    }
}

.game-info-canvas {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-size: 2em;
}

/* Card Styling */
.card {
    position: relative;
    height: 175px;
    width: 125px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-width: 2px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card.win .card-value {
    animation: dance 1s linear infinite 500ms;
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}

.card-back {
    background-color: #D7B898;
    border-color: white;
}

.card-front {
    transform: rotateY(180deg);
    background-color: #c7c7c7;

}

.card-front:hover {
    border-style: ridge;
}

/* Scissors cards */
.cut, .paper, .rock {
    font-size: 55px;
    font-weight: 900;
    transition: transfrom 100ms ease-in-out;
}

.card-front:hover .cut {
    transform: scale(1.3);
}

.card-front:hover .paper {
    transform: scale(1.3);
}

.card-front:hover .rock {
    transform: scale(1.3);
}


.lighting {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 55px;
    font-weight: 700;
    color: aqua;
    padding: 5px;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

.card-back:hover .lighting {
    width: 25px;
    height: 25px;
}

.lighting-top-left {
    transform: rotate(300deg);
    top: 0;
    left: 0;
    text-align: end;
}

.lighting-top-right {
    transform: rotate(60deg) scaleX(-1);
    top: 0;
    right: 0;
    text-align: end;
}

.lighting-bottom-left {
    transform: rotate(240deg) scaleX(-1);
    bottom: 0;
    left: 0;
    text-align: end;
}

.lighting-bottom-right {
    transform: rotate(120deg);
    bottom: 0;
    right: 0;
    text-align: end;
}

.handshake {
    align-self: flex-end;
    transform: translateY(-60px) translateX(-10px);
    color: aqua;
    width: 50px;
    height: 50px;
    font-size: 55px;
    font-weight: 900;
    transition: transfrom 100ms ease-in-out;
}

.card-back:hover .handshake {
    transform: translateY(-60px) translateX(-10px) scale(1.2);
} 


/* --------------------Buttons ------------------ */

button {
    border: none;
    font-size: clamp( 14px, 1.2rem, 20px);
    padding: 5px;
    margin: 7px;
    border-radius: .25rem;
    box-shadow: -3px -3px 6px #99CCCC,
                2px 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    font-weight: bold;
    transform: scale(0.97);
    box-shadow: -3px -3px 8px rgba(255, 255,255, 0.8),
                3px 3px 8px rgba(0, 0, 0, 0.08),
            inset -2px -2px 8px rgba(255, 255,255, 0.8),
            inset 2px 2px 8px rgba(0,0,0,0.1);
}



/* --------------------Colour Picker------------------ */

#colourpicker {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
}

#colourpicker label {
    animation: none;
    float: left;
    font-size: medium;
    animation: none;
    margin-top: 30px;
    margin-left: 100px;
    
}

#colourpicker label:hover {
    animation: none;
    box-shadow: none;
    transform: none;
}





/* --------------------Footer------------------ */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


/* --------------------Social Links------------------ */
ul {
   display: flex;
   list-style-type: none;
   padding: 5px;
   margin: 3px;
   font-size: large;
}

li {
    padding: 5px;
    margin: 3px;
    text-decoration: none;
}

li a i {
    padding: 5px;
    margin: 2px;
    font-size: clamp( 14px, 1.2rem, 20px);
    color: #333;
    box-shadow: -3px -3px 6px rgba(255, 255,255, 0.8),
                2px 2px 4px rgba(0, 0, 0, 0.2);
}

li a i:hover {
    background-color: #98B7D7;
    transform: scale(1.2);
    box-shadow: -3px -3px 8px rgba(0, 0, 0, 0.7),
                3px 3px 8px rgba(0, 0, 0, 0.07),
                inset -2px -2px 8px rgba(0, 0, 0.8),
                inset 2px 2px 8px rgba(0,0,0,0.1);
    
}

li a i::before {
    font-size: xx-large;
}
/* -------------------Media Queries------------------ */
@media(max-width: 372px) {
    h1 {
        padding: 10px 1px;
    }
    
}

@media (max-width: 600px) {
    .game-canvas {
        grid-template-columns: repeat(2, auto);
        align-items: center;
    }

    .game-info-canvas {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 576px) {
    p {
        font-size: 0.7rem;
    }
}

